[package]
authors = ["Matthew Meyer <mtthw.meyer@gmail.com>"]
edition = "2018"
description = "Hardware Abstraction Layer implementation for Daisy boards"
keywords = ["arm", "cortex-m", "stm32h7xx", "stm32h750", "hal", "embedded-hal", "daisy"]
readme = "README.md"
name = "libdaisy-rust"
version = "0.1.0"

[dependencies]
cfg-if = "0.1.10"
cortex-m = "0.6.2"
cortex-m-log = { version = "~0.6", features=["semihosting"] }
cortex-mpu = "0.4.0"
cortex-m-rt = "0.6.12"
cortex-m-rtic = "0.5.3"
cortex-m-semihosting = "0.3.5"
debouncr = "0.1.2"
panic-halt = "0.2.0"
panic-semihosting = "0.5.3"
#stm32h7-fmc = { version = "0.2.0", features = ["stm32h750v"] }
stm32h7xx-hal = { version = "0.6.0", features = ["stm32h750v","rt"], path = "../stm32h7xx-hal-fork"}

# this lets you use `cargo fix`!
#[[bin]]
#name = "libdaisy-rust"
#test = false
#bench = false

[profile.dev]
codegen-units = 1 # better optimizations
debug = true # symbols are nice and they don't increase the size in flash
incremental = false

[profile.release]
codegen-units = 1 # better optimizations
debug = true # symbols are nice and they don't increase the size in flash
lto = true # better optimizations
opt-level = "s" # optimize for binary size
